@import "antd/dist/antd.css";

#app {
	min-height: 100vh;
}

@media (min-width: 1024px) {
	.form {
		width: 900px !important;
		width: 900px !important;
	}
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	flex-direction: column;

	flex: 1;
}
